{{#if message}}
    {{#if message.info}}
        {{#each message.info}}
            <div class="text-center alert alert-info alert-dismissible fade show alertContainer" role="alert">
                <i class="fas fa-info-circle fa-lg"></i>  {{this}}
                <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {{/each}}
    {{/if}}

    {{#if message.success}}
        {{#each message.success}}
            <div class="text-center alert alert-success alert-dismissible fade show alertContainer" role="alert">
                <i class="fas fa-check-circle fa-lg"></i>  {{this}}
                <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {{/each}}
    {{/if}}

    {{#if message.warn}}
        {{#each message.warn}}
            <div class="text-center alert alert-warning alert-dismissible fade show alertContainer" role="alert">
                <i class="fas fa-exclamation-triangle fa-lg"></i>  {{this}}
                <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {{/each}}
    {{/if}}

    {{#if message.error}}
        {{#each message.error}}
            <div class="text-center alert alert-danger alert-dismissible fade show alertContainer" role="alert">
                <i class="fas fa-times-circle fa-lg"></i>  {{this}}
                <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {{/each}}
    {{/if}}

    <script>
        $('.alertContainer').fadeTo(2000, 500).slideUp(500, function() {
            $('.alertContainer').slideUp(500);
        });
    </script>
{{/if}}


